In [ ]:
#Prime number

In [35]:
# Number is a Prime no or Not
num = int (input('Enter the number :'))
if num==1:
    print(num, ' is not a prime number')
elif num==2:
    print (num,' is a prime number')
elif num>2:
    for i in range (2,num):
        if num % i ==0 :
            print (num , ' is not a prime number')
            break
else :
    print (num, ' is a prime number')

Enter the number : 87

87  is not a prime number

In [43]:
# Number is a Prime no or Not in range (1,51)
for num in range (1,51):
    if num==1:
        print(num, ' is not a prime number')
    elif num==2:
        print (num,' is a prime number')
    else:
        for j in range (2,num):
            if num % j ==0 :
                print ( num, ' is not a prime number')
                break
        else :
            print (num, ' is a prime number')

1  is not a prime number
2  is a prime number
3  is a prime number
4  is not a prime number
5  is a prime number
6  is not a prime number
7  is a prime number
8  is not a prime number
9  is not a prime number
10  is not a prime number
11  is a prime number
12  is not a prime number
13  is a prime number
14  is not a prime number
15  is not a prime number
16  is not a prime number
17  is a prime number
18  is not a prime number
19  is a prime number
20  is not a prime number
21  is not a prime number
22  is not a prime number
23  is a prime number
24  is not a prime number
25  is not a prime number
26  is not a prime number
27  is not a prime number
28  is not a prime number
29  is a prime number
30  is not a prime number
31  is a prime number
32  is not a prime number
33  is not a prime number
34  is not a prime number
35  is not a prime number
36  is not a prime number
37  is a prime number
38  is not a prime number
39  is not a prime number
40  is not a prime number
41  is a prime number
42  is not a prime number
43  is a prime number
44  is not a prime number
45  is not a prime number
46  is not a prime number
47  is a prime number
48  is not a prime number
49  is not a prime number
50  is not a prime number

In [51]:
# To find the factorial value 
a= int (input('Enter the Number:'))
b=1
if a==0:
    print ('Factorial is 1')
elif a==1:
    print ('Factorial is 1')
else:    
    for i in range (1,a+1):
        b=b*i
print (b)

Enter the Number: 7

5040

In [46]:
# To get the String as same in reverse order 'mahtwog'
a= 'Appu'
b=''
for i in range (len(a),0,-1):
    b+=a[i-1]
print (b)

uppA

In [ ]:
# Create a list of 5 nos and print the sum of all the elements

In [66]:
a=[23,45,55,66,45,98]
sum(a)

332

In [59]:
b=0
for i in range(len(a)):
    b=b+a[i]
print(b ,' is the sum of all the elements')

332  is the sum of all the elements

In [ ]:
# Maximum and Minimum value

In [87]:
a=[23,4,45,56,678,2,12]
a.sort()
print (a[0], ' is minimum')
print (a[-1], ' is maximum')

2  is minimum
678  is maximum

In [153]:
#Using assumptions
a=[23,4,45,56,678,2,12]
b=a[0]
for num in a:
    if num>b:
        b= num
print (b ,'Maximum' )

678 Maximum

In [154]:
a=[23,4,45,56,678,2,12]
b=a[0]
for num in a:
    if num<b :
        b=num
print(b , 'minimum')

2 minimum

In [ ]:
#Count the even number in a list

In [155]:
a=[12,3,4,456,8,8,3,99,5,8,0]
b=0
for i in a:
    if i%2==0:
        b+=1
print(b)

7

In [ ]:
# Draw A in star

In [1]:
for i in range (6):
    if i==0:
        print ('  *  ')
    elif i==3:
        print ('* * *')
    else:
        print ('*   *')

  *
*   *
*   *
* * *
*   *
*   *